body {
    font-family: "Raleway", sans-serif;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: #0d47a1;
}

small {
    color: darkorange;
}

.title {
    color: #107fee;
}

div.box {
    border: 1px solid #8795A3;
    border-radius: 4px;
    padding: 5px 15px;
}

div.box_shadow {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #eaedef;
    border-radius: 4px;
    padding: 5px 15px;
}